.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #2574A9;
  color: #fff;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 22px;
  background-color: #2574A9;
}

.sidebar-logo img {
  /** deixa imagem branca **/
  filter: brightness(0) invert(1);
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  margin-top: 20px;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.sidebar-navigation li img {
  margin-right: 10px;
  /** deixa imagem branca **/
  filter: brightness(0) invert(1);
}

.sidebar-navigation li a:active,
.sidebar-navigation li a.active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
  background-color: #1a5f8d;
}