* {
  box-sizing: border-box;
  font-family: arial;
  font-size: 15px;
}

body {
  width: 100%;
  background-color: rgb(245, 245, 245);
  margin: 0;
}

button {
  width: auto;
}

.no-caret::before,
.no-caret::after {
  display: none !important;
}